@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-900 text-zinc-100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;

  background-image: repeating-linear-gradient(
      0deg,
      rgb(17, 17, 17) 0px,
      rgb(17, 17, 17) 1px,
      transparent 1px,
      transparent 51px
    ),
    repeating-linear-gradient(
      90deg,
      rgb(17, 17, 17) 0px,
      rgb(17, 17, 17) 1px,
      transparent 1px,
      transparent 51px
    ),
    linear-gradient(90deg, hsl(49, 0%, 3%), hsl(49, 0%, 3%));
}

html {
  /* font-size: 17px; */
}

* {
  box-sizing: border-box;
}

pre {
  @apply !px-0 rounded-lg;
}

code {
  @apply !text-sm md:!text-base !leading-loose md:!leading-loose;
}

pre > code {
  @apply grid;
  counter-reset: line;
}

.prose {
  @apply max-w-[55rem] text-2xl sm:text-lg md:text-xl !leading-7 sm:!leading-9;
}

[data-line] {
  @apply border-l-2 border-l-transparent px-6;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply bg-zinc-600/50 rounded;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id="v"] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id="s"] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id="i"] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

/* .divider {

} */


/* Custom overriding for rehype */

.prose .highlighted-section {
  @apply px-4 py-2 bg-gray-900 rounded-lg shadow-neutral-700;
}

.prose .note {
  @apply !text-cyan-200 bg-cyan-800/50 rounded-lg p-2 mr-3;
}

.prose .warning {
  @apply !text-purple-200 bg-rose-800/50 rounded-lg p-2 mr-3;
}

.prose .tip {
  @apply !text-neutral-200 bg-green-800/50 rounded-lg p-2 mr-3;
}

.prose .links a {
  @apply !underline text-cyan-600 hover:text-cyan-400 hover:cursor-pointer; 
}

.prose blockquote {
  @apply text-cyan-200 my-20 mx-5 border-l-green-500;
}

.prose h2 {
  margin-top: 5rem;
}